body {
    display: flex;
    margin: 0;
    height: 100vh; /*100 vh = tutta l'altezza della pagina*/
    font-family: 'Roboto', sans-serif; 
}
#main {
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebare-icon p {
    margin: 0;
}
.sidebar-icon ion-icon {
    font-size: 1.5em;
    cursor: pointer;
}
#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    height: 100%;
    cursor: pointer;
}
#search-wrapper {
    display: flex;
    height: 50%;
}
#topbar-icons{
    display: flex;
}
.topbar-icon ion-icon {
    font-size: 1.5em;
    padding: 0.5em;
    padding-top: 20px;
    cursor: text;
}
#mic-icon{
    margin: 0 0.5em;
}
#mic-icon ion-icon{
    font-size: 1.7em;
    cursor: pointer;
}
#search-btn {
    padding: 0 0.6em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-right: 20px;
    cursor: pointer;
}

.slide-img img{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 350px;
    padding-top: 30px;
}

.description{
    display: flex;
    padding-bottom: 20px;
}
.description img{
    display: flex;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    padding-right: 10px;
}
.description h3{
    margin: 0;
    display: flex;
    font-size: 17px;
    padding-top: 10px;
}
.description p{
    margin: 0;
}

    

    


